body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    justify-content: center;
    align-items: center;
    height: 100vh;
    }